/* il riquadro nel quale vengono presentate le proposte 
  e' un div con class="autocomplete"
*/

div.autocomplete {
  position:absolute;
  width:250px;
  background-color:white;
  border:1px solid #888;
  margin:0px;
  padding:0px;
  overflow: visible;
  z-index:100000
}

/* i suggerimenti sono restituiti dal server in unordered list,
  qui si definiscono quindi le regole di visualizzazione
*/ 

div.autocomplete ul {
  list-style-type:none;
  margin:0px;
  padding:0px;
}

div.autocomplete ul li {
  list-style-type:none;
  display:block;
  margin:0;
  padding:2px;
  height:16px;
  cursor:pointer;
}

/* quando un suggerimento viene selezionato viene SEMPRE applicata la 
  css class="selected" agli elementi <li>
*/

div.autocomplete ul li.selected { 
  background-color: #b2ccf7;
}
    
/* i dati presentati nelle scelte ma che non devono essere inseriti nel
  field in caso di scelta DEVONO essere inseriti nell'elemento <li> in un
  elemento <span> con class="informal"         
*/

div.autocomplete span.informal{
    font-style:italic;
    font-size:11px;
    font-family: Tahoma, Verdana, Arial, sans-serif;
}
